<div class="container text-center my-5">
    <h2 class="text-success">¡Compra realizada con éxito!</h2>
    <p class="lead">Se le descontó <strong>Bs. @ViewBag.Total</strong> de su cuenta.</p>

    <div class="my-4">
        <a href="/" class="btn btn-primary btn-lg">Volver al inicio</a>
    </div>
</div>